* {
	box-sizing: border-box;
}
body {
	margin: 0;
}

button {
	outline: none !important;
	box-shadow: none !important;
}

.formulario {
	width: 600px;
	max-width: 50%;
	margin: auto;
	margin-top: 10px;
	padding: 20px;
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
	position: relative;
	color: #6d6966ef;
}
.formulario__titulo {
	text-align: center;
	margin-top: 0;
	color: rgba(0, 0, 0, 0.7);
	font-family: 'Roboto', sans-serif;
}
.formulario__input,
.formulario__label,
.formulario__submit {
	display: block;
	width: 100%;
	font-size: 1.3em;
}

.formulario__input {
	padding: 5px;
	border: 1px solid rgb(0, 0, 0, 0.3);
	border-radius: 20px;
	margin-bottom: 54px;
	background: transparent;
}

.formulario__input:focus + .formulario__label {
	margin-top: -135px;
}

.formulario__label {
	padding-left: 15px;
	position: absolute;
	margin-top: -85px;
	z-index: -20;
	transition: all 0.2s;
}
.formulario__submit {
	background-position-x: right;
}
.fijar {
	margin-top: -135px;
}

.ml6 {
	position: relative;
	font-weight: 900;
	font-size: 3.3em;
}

.ml6 .text-wrapper {
	position: relative;
	display: inline-block;
	padding-top: 0.2em;
	padding-right: 0.05em;
	padding-bottom: 0.1em;
	overflow: hidden;
}

.ml6 .letter {
	display: inline-block;
	line-height: 1em;
}

.sk-cube-grid {
	width: 100px;
	height: 100px;
	margin: 120px auto;
}

.sk-cube-grid .sk-cube {
	width: 33%;
	height: 33%;
	background-color: #343a40 !important;
	float: left;
	-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
	animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
	0%,
	70%,
	100% {
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
	}
	35% {
		-webkit-transform: scale3D(0, 0, 1);
		transform: scale3D(0, 0, 1);
	}
}

@keyframes sk-cubeGridScaleDelay {
	0%,
	70%,
	100% {
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
	}
	35% {
		-webkit-transform: scale3D(0, 0, 1);
		transform: scale3D(0, 0, 1);
	}
}

.swal2-styled.swal2-confirm {
	font-family: 'Roboto', sans-serif;
	box-shadow: none !important;
	border: 0;
	border-radius: 0.25em;
	background: initial;
	background-color: #28a744;
	color: #fff;
	font-size: 1em;
	width: 80px;
	outline: none;
}

.swal2-styled.swal2-deny {
	font-family: 'Roboto', sans-serif;
	box-shadow: none !important;
	border: 0;
	border-radius: 0.25em;
	background: initial;
	background-color: #ea5455;
	color: #fff;
	font-size: 1em;
	width: 80px;
	outline: none;
}
.swal2-title {
	font-family: 'Roboto', sans-serif;
	position: relative;
	max-width: 100%;
	margin: 0;
	padding: 0.8em 1em 0;
	color: #595959;
	font-size: 1.875em;
	font-weight: 600;
	text-align: center;
	text-transform: none;
	word-wrap: break-word;
}

.css-1vhaqj4-MuiButtonBase-root-MuiButton-root {
	background-color: #28a745 !important;
	border-color: #28a745 !important;
}

nav#barrita {
	/* background: #7f7fd5!; */
	/* background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5) !important; */
	background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5) !important;
}

div a.nav-item.nav-link {
	color: darkslateblue;
}

.fondochingon {
	background-image: url(./assets/imgs/background4.png);
	background-position: center center;
	background-size: cover;
	height: 100vh;
	min-height: 60rem;
}

.cartaGrande {
	transition: 0.3s all ease;
}

.cartaGrande:hover {
	transform: scale(1.1);
}

.app {
	display: flex;
	position: relative;
	background-color: #fff !important;
}

.appMain {
	/* padding: 24 px; */
	width: 100%;
}

.pro-sidebar,
.pro-sidebar-inner {
	background-color: #fff !important;
}

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
	background-color: #fff !important;
}

ul :hover {
	color: #515d8a !important;
}
.col {
	margin-top: 2rem !important;
}

.message {
	justify-content: flex-end;
	display: flex;
}

.posts {
	overflow-y: scroll;
}
.container {
	padding: 0 !important;
}
